</section>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-3 mb30">
				<h2>Useful Links</h2>
				<ul>
					<li><a href="about-us.php">About Us</a></li>
					<li><a href="privacy-policy.php">Privacy Policy</a></li>
					<li><a href="login.php">Login</a></li>
					<li><a href="user-registration.php">User Registration</a></li>
					<li><a href="terms-and-conditions.php">Terms and Conditions</a></li>
					<li><a href="disclaimer.php">Disclaimer</a></li>				
				</ul>
			</div>
			<div class="col-sm-12 col-md-5 mb30">
				<h2>App Download</h2>
				<div class="app">
					<a href="#"><img src="images/google-play.png" /></a>
					<a href="#"><img src="images/apple-store.png" /></a>
				</div>
				<h2>Social Links</h2>
				<div class="social">
					<a href="#" target="_blank"><img src="images/google-plus.png" /></a>
					<a href="#" target="_blank"><img src="images/facebook.png" /></a>
					<a href="#" target="_blank"><img src="images/twitter.png" /></a>
				</div>
			</div>
			<div class="col-sm-12 col-md-4 info mb30">
				<h2>Contact Information</h2>
				<div>
					<input type="text" placeholder="Name">
					<input type="text" placeholder="Mobile Number">
					<textarea placeholder="Enter Query"></textarea>
					<input type="submit" class="btn" name="contactInfo" value="Submit" />
				</div>
			</div>
		</div>
	</div>
	<div class="seo-links">
	<div class="container">
		<ul>
			<li><a href="#">Airtel Mobile Recharge</a></li>
			<li><a href="#">Vodafone Mobile Recharge</a></li>
			<li><a href="#">Reliance Mobile Recharge</a></li>
			<li><a href="#">Vodafone Datacard Recharge</a></li>
			<li><a href="#">Dishtv Recharge</a></li>
			<li><a href="#">Big tv Recharge</a></li>
			<li><a href="#">Data Card Recharge</a></li>
			<li><a href="#">Mobile Recharge</a></li>
			<li><a href="#">Money transfer</a></li>
			<li><a href="#">Electricity Payment</a></li>
			<li><a href="#">Airtel Mobile Recharge</a></li>
			<li><a href="#">Vodafone Mobile Recharge</a></li>
			<li><a href="#">Reliance Mobile Recharge</a></li>
			<li><a href="#">Vodafone Datacard Recharge</a></li>
			<li><a href="#">Dishtv Recharge</a></li>
			<li><a href="#">Big tv Recharge</a></li>
			<li><a href="#">Data Card Recharge</a></li>
			<li><a href="#">Mobile Recharge</a></li>
			<li><a href="#">Money transfer</a></li>
			<li><a href="#">Electricity Payment</a></li>
			<li><a href="#">Airtel Mobile Recharge</a></li>
			<li><a href="#">Vodafone Mobile Recharge</a></li>
			<li><a href="#">Reliance Mobile Recharge</a></li>
			<li><a href="#">Vodafone Datacard Recharge</a></li>
			<li><a href="#">Dishtv Recharge</a></li>
			<li><a href="#">Big tv Recharge</a></li>
			<li><a href="#">Data Card Recharge</a></li>
			<li><a href="#">Mobile Recharge</a></li>
			<li><a href="#">Money transfer</a></li>
			<li><a href="#">Electricity Payment</a></li>
		</ul>
	</div>
</div>
<div class="copyright">
	<p>&copy; 2018. All rights reserved.</p>
</div>
</footer>
<script src="js/bootstrap.min.js?1.2"></script>
<script src="js/wow.js?1.2"></script>
<script src="js/select2.min.js?1.2"></script> 
<script src="js/icheck.min.js?1.2"></script> 
<script src="js/slick.min.js?1.2"></script>
<script src="js/custom.js?1.2"></script>
<script type="text/javascript">
new WOW().init();
 $(".regular").slick({
	dots: false,
	infinite: true,
	slidesToShow: 3,
	slidesToScroll: 1,
	responsive: [
    {
      breakpoint: 900,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
  ]
});
</body>
</html>