{{ header }}
<div class="container">
			<h1><span>Online</span> Recharge Portal</h1>
		<div class="row">
			<div class="col-6 col-sm-4 col-md-4 mb30 wow bounceInUp">
				<a href="index.php?route=recharge/mobile&t=1" class="box blue-back">
					<h2 class="wow bounceInUp" data-wow-delay="0.5s"><span>Mobile</span> Recharge</h2>
					<img class="wow bounceInUp" data-wow-delay="0.3s" src="images/smartphone.png" />
				</a>
			</div>
			<div class="col-6 col-sm-4 col-md-4 mb30 wow bounceInUp" data-wow-delay="0.3s">
				<a href="index.php?route=recharge/mobile&t=2" class="box green-back">
					<h2 class="wow bounceInUp" data-wow-delay="0.6s"><span>Data</span> Recharge</h2>
					<img class="wow bounceInUp" data-wow-delay="0.4s" src="images/pendrive.png" />
				</a>
			</div>
			<div class="col-6 col-sm-4 col-md-4 mb30 wow bounceInUp" data-wow-delay="0.4s">
				<a href="index.php?route=recharge/mobile/dth" class="box blue-back">
					<h2 class="wow bounceInUp" data-wow-delay="0.7s"><span>DTH</span> Recharge</h2>
					<img class="wow bounceInUp" data-wow-delay="0.5s" src="images/satellite-tv.png" />
				</a>
			</div>
			<div class="col-6 col-sm-4 col-md-4 mb30 wow bounceInUp" data-wow-delay="0.5s">
				<a href="#" class="box green-back">
					<h2 class="wow bounceInUp" data-wow-delay="0.8s"><span>Bill</span> Payment</h2>
					<img class="wow bounceInUp" data-wow-delay="0.6s" src="images/receipt.png" />
				</a>
			</div>
			<div class="col-6 col-sm-4 col-md-4 mb30 wow bounceInUp" data-wow-delay="0.7s">
				<a href="#" class="box blue-back">
					<h2 class="wow bounceInUp" data-wow-delay="0.9s"><span>Money</span> Transfer</h2>
					<img class="wow bounceInUp" data-wow-delay="0.8s" src="images/money-transfer.png" />
				</a>
			</div>
			<div class="col-6 col-sm-4 col-md-4 mb30 wow bounceInUp" data-wow-delay="0.8s">
				<a href="#" class="box green-back">
					<h2 class="wow bounceInUp" data-wow-delay="0.10s"><span>My</span> Wallet</h2>
					<img class="wow bounceInUp" data-wow-delay="0.8s" src="images/wallet-w.png" />
				</a>
			</div>
		</div>
	</div>
</section>
<section  class="container">
	 <h1><span>New</span> Offers</h1>
	 {# <div class=" regular slider">
		  <div>
		  	<a href="offer.php">
		  		<img src="images/add1.jpg" />
		  	</a>
		  </div>
		 <div>
		  	<a href="offer.php">
		  		<img src="images/add2.jpg" />
		  	</a>
		  </div>

		  <div>
		  	<a href="offer.php">
		  		<img src="images/add3.jpg" />
		  	</a>
		  </div>
		  <div>
		  	<a href="offer.php">
		  		<img src="images/add2.jpg" />
		  	</a>
		  </div>
		  <div>
		  	<a href="offer.php">
		  		<img src="images/add1.jpg" />
		  	</a>
		  </div>
		</div> #}
</section>
<section class="about mt50">
	<div class="container">
		<p class="para">Eazy-pay.com is one of the best Online All Prepaid Mobile Recharge & Postpaid Bill Payment website in India for Airtel, Vodafone, Jio, idea, Tata Indicom, Reliance, Bsnl, Aircel, Tata Docomo. We do not charge you over any online mobile recharges done and you can save your time, effort and money. Browse for the cheapest talk time & data plans using Eazy-Pay.</p>
		<div class="row">
			<div class="col-12 col-sm-12 col-md-6 mb30">
				<div class="boxs registraton box-gray wow fadeInLeft">
					<h2>Registration Steps</h2>
					<div class="row">
						<div class="col-sm-12 col-md-6">
							<img src="images/monitor.svg" />
							<p>1. Create Account</p>
						</div>
						<div class="col-sm-12 col-md-6">
							<img src="images/menu.svg" />
							<p>2. Opt Service</p>
						</div>
						<div class="col-sm-12 col-md-6">
							<img src="images/credit-card.svg" />
							<p>3. Payment</p>
						</div>
						<div class="col-sm-12 col-md-6">
							<img src="images/checked.svg" />
							<p>4. Success</p>
						</div>
					</div>
					<a href="user-registration.php" class="contactus">Register Now</a>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-6 mb30">
				<div class="boxs box-l-blue wow fadeInRight">
					<h2>About<br/>Eazy-pay.com</h2>
					<p>We also offer Bill Payments - Landline, Electricity can be done effortlessly. Sign up and enjoy great online bill payment services through Eazy-pay. DTH recharge with Eazy-Pay is quick and easy. We offer Airtel DTH, Dish TV, Sun Direct, Tata Sky, Videocon D2H and Reliance Big TV DTH online recharge and bill payments. <a href="about-us.php">Read More ></a>.</p>
					<div class="white-logo"><img src="images/Eazy-pay-logo-white.png" /></div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="operators">
	<div class="container">
		<h1><span>List of</span> Operators</h1>
		<div>
			<ul>
				<li class="wow flipInX"><img src="images/aircel.jpg" /></li>
				<li class="wow flipInX"><img src="images/airtel.jpg" /></li>
				<li class="wow flipInX"><img src="images/vodafone.jpg" /></li>
				<li class="wow flipInX"><img src="images/bsnl.jpg" /></li>
				<li class="wow flipInX"><img src="images/idea.jpg" /></li>
				<li class="wow flipInX"><img src="images/reliance.jpg" /></li>
				<li class="wow flipInX"><img src="images/docomo.jpg" /></li>
				<li class="wow flipInX"><img src="images/mts.jpg" /></li>
				<li class="wow flipInX"><img src="images/sundirect.jpg" /></li>
				<li class="wow flipInX"><img src="images/videocon.jpg" /></li>
				<li class="wow flipInX"><img src="images/airtel-digital-tv.jpg" /></li>
				<li class="wow flipInX"><img src="images/tata-sky.jpg" /></li>
				<li class="wow flipInX"><img src="images/dishtv.jpg" /></li>
				<li class="wow flipInX"><img src="images/big-tv.jpg" /></li>
				<li class="wow flipInX"><img src="images/zing-tv.jpg" /></li>
			</ul>
		</div>
	</div>
{{ footer }}