<section class="rechargeBar">
    <div class="container">
        <ul>
            <li><a href="index.php?route=recharge/mobile&t=1"><img src="images/smartphone.png" /> <span>Mobile</span></a></li>
            <li><a href="index.php?route=recharge/mobile&t=2"><img src="images/pendrive.png" /> <span>Data Card</a></li></span>
            <li><a href="index.php?route=recharge/mobile/dth"><img src="images/satellite-tv.png" /> <span>DTH</span></a></li>
            <li><a href="bill-options.php"><img src="images/receipt.png" /> <span>Bill Payment</span></a></li>
            <li><a href="money-transfer.php"><img src="images/money-transfer.png" /> <span>Money Transfer</span></a></li>
        </ul>
    </div>
</section>